In [213]:
import os, ssl
if (not os.environ.get('PYTHONHTTPSVERIFY', '') and
getattr(ssl, '_create_unverified_context', None)):
    ssl._create_default_https_context = ssl._create_unverified_context

In [1]:
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import pandas as pd
import pprint

In [37]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

# scrape NASA Mars News

In [38]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [7]:
html = browser.html
soup = bs(html, 'html.parser')

In [39]:
#scrap the news title and get the first title
news_title = soup.find_all('div', class_='content_title')
news_title[1].get_text()
#the first title [0] is the main title not the news title so i went for[1]

"NASA's InSight Flexes Its Arm While Its 'Mole' Hits Pause"

In [40]:
#scrap for the news paragraph and get the first paragraph
news_p = soup.find_all('div', class_='article_teaser_body')
news_p[0].get_text()

"Now that the lander's robotic arm has helped the mole get underground, it will resume science activities that have been on hold."

# Scrape JPL Mars SPace Images

In [123]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [124]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [125]:
html = browser.html
soup = bs(html, 'html.parser')

In [126]:
find = browser.find_by_id('full_image')
find.click()

In [127]:
# info = browser.find_link_by_partial_text('more')
# info.click()

In [128]:
#find the image url
footer = soup.find('footer').find('a')
footer

<a class="button fancybox" data-description="The structure of the Sun's corona shows well in this image from NASA's Solar TErrestrial RElations Observatory (STEREO)." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA09320_ip.jpg" data-link="/spaceimages/details.php?id=PIA09320" data-title="Full Disk Image of the Sun, March 26, 2007" id="full_image">
					FULL IMAGE
				  </a>

In [129]:
featured_image_url = 'https://www.jpl.nasa.gov' + footer.attrs['data-fancybox-href']
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA09320_ip.jpg'

# Scrape Mars Weather Tweet

In [137]:
# executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
# browser = Browser('chrome', **executable_path, headless=False)

In [160]:
# url = 'https://twitter.com/marswxreport?lang=en'
# browser.visit(url)

In [161]:
# html = browser.html
# soup = bs(html, 'html.parser')

In [162]:
# tweet = soup.find('div', class_='css= 1dbjc4n')
# tweet

In [163]:
#incomplete

# Scrape Mars Facts

In [169]:
#using pandas
url = 'https://space-facts.com/mars/'

In [181]:
#use pandas to scarpe table
tables = pd.read_html(url)
len(tables)

3

In [182]:
tables = pd.read_html(url)
df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [203]:
#convert data to html table 
html_table = df.to_html()

In [189]:
#make it look better by replacing \n with space
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [190]:
mars_facts = html_table

In [204]:
#print mars facts
#mars_facts
#save
#mars_facts('table.thml')
#open
#!open table.html

# Scrape Mars Hemisphere

In [2]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [4]:
html = browser.html
soup =bs(html, 'html.parser')

In [7]:
results = soup.find_all('div', class_='item')

#redo and append h3 and url into a list
#iterate through
hemispere_image_url = []
for i, result in enumerate(results):
    
    h3 = result.find('h3')
    h3 = h3.text
    link = result.find('a')
    href = link['href']
    url = 'http://astrogeology.usgs.gov'+ href
    
    hemispere_image_url.append({"title":h3,
    "url":url})

    # print('........')
    # print(h3)
    # print(url)
print(hemispere_image_url)

[{'title': 'Cerberus Hemisphere Enhanced', 'url': 'http://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'url': 'http://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'url': 'http://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'url': 'http://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'}]